body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}
a {
    margin: 5px;
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
a:hover {
    text-decoration: underline;
}
nav {
    display: flex;
    justify-content: space-between;
}
#top-nav {
    display: flex;
    justify-content: flex-end;
}
.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}
ul > a, ul > img {
    padding: 8px;
}
#account {
    background-color: forestgreen;
    text-align: center;
    height:15px;
    width:15px;
    color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-weight: 700;
}
.header-img:hover {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 20px;
    background-color: gainsboro;
    text-decoration: none;
}
#app {
    height: 25px;
    width: 25px;
    padding: 6px;
    transition: 0.1s;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
section > a, span > a {
    color: #1a0dab;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    height: 42px;
    border: 1px solid gainsboro;
    border-radius: 25px;
    padding: 0 15px;
}
.input-container:hover {
    box-shadow: 0 2px 12px 0 gainsboro;
    transition: 0.1s;
}
.input-container > img {
    width: 20px;
    height: 20px;
}
.input-container > input {
    flex-grow: 1;
    border: none;
    outline: none;
}
img:hover {
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: center;
    padding-top: 53px;
}
button {
    background-color: #f8f9fa;
    border-radius: 5px;
    border: none;
    height: 38px;
    margin: 0 4px;
    padding: 0 20px;
    font-size: medium;
    color: #3c4043;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
    border: 1px solid gainsboro;
}
footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-right: 20px;
}
footer > a {
    color: rgba(0,0,0,.54);
}
#nationality {
    padding-left: 30px;
    border-bottom: 1px solid #dadce0;
    color:rgba(0,0,0,.54);
}
.input-container > input[type=text] {
    font-size: medium;
}
@media (max-width: 680px){
    #footer-nav {
        flex-direction: column;
    }
    #footer-nav > .header-nav {
        justify-content: center;
    }
    .input-container {
        width: 90vw;
    }
}
@media (max-height: 522px) {
    body {
        overflow-x: hidden;
    }
    #nationality {
        display: none;
        transition: 0.3s;
    }
    section {
        margin-bottom: 20px;
    }
    footer {
        position: relative;
    }
}